.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.wf-item {
    position: absolute;
    background-color: #ededed;
    overflow: hidden;
}

.wf-item img {
    width: 100%;
    display: block;
}