html{
    --width        : 400px;
    --height       : 260px;
    --puzzle-width : 80px;
    --puzzle-height: 80px; 
}

body {
    display        : flex;
    justify-content: center;
    align-items    : center;
    min-width      : 100vh;
}

#captcha {
    display            : block;
    width              : var(--width);
    height             : var(--height);
    border-radius      : 5px;
    background-image   : url(./1.jpg);
    background-size    : cover;
    background-position: center;
    position           : relative;
    box-shadow         : 0px 2px 4px rgba(0, 0, 0, .3);
}

#captcha::after,
#captcha::before {
    position           : absolute;
    content            : '';
    display            : block;
    width              : inherit;
    height             : inherit;
    /* background-image   : inherit; */
    background-color: red;
    background-size    : inherit;
    background-position: inherit;

    /* --webkit-clip-path: inset(
        calc((var(--hetght) - var(--puzzle-height))/2
        var(--puzzle-width)
        calc((var(--height) - var(--puzzle-height))/2)
        calc(var(--width) - var(--puzzle-width)*2)
        )
    ); */
    clip-path: inset(90px 90px 90px 230px);
}